* {
    scroll-behavior: smooth;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    backdrop-filter: blur(5px);
    top: 0;
    z-index: 1;
}

.collapsibleNavbar {
    display: flex;
    padding: 10px;
}

.nav-link {
    color: white;
    font-size: 19px;
    text-decoration: rgba(255, 255, 255, 0);
    font-weight: 500;
    padding: 8px 30px 8px 30px;
}

.nav-link:hover {
    opacity: 100%;
    transition: 0.5s;
    text-shadow: 0px 0px 15px rgba(255, 255, 255);
    text-decoration: rgba(255, 255, 255, 0.4);
}

.nav-link:not(:hover) {
    opacity: 70%;
    transition: 0.5s;
}

.navbar [type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    transition: 0.6s;
}

@media (max-width: 768px) {

    input[type=checkbox]:checked~.collapsibleNavbar {
        display: block;
        transition: 0.6s;
    }

    .hamburger {
        align-self: flex-end;
        padding: 20px;
        margin-right: 10px;
        display: block;
        transition: 0.6s;
    }

    .collapsibleNavbar {
        display: none;
        flex-direction: column;
    }

    .navbar {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;

        .nav-link {
            width: 100%;
            height: 100%;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }
}


body {
    background-color: black;
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .home-para {
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .home-para {
        font-size: 25px;
    }
}

#home {
    .top-page {
        height: 100%;

        .top-page-div {
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: center;

            .home-para {
                color: #ffa5c7;
                margin: 0;
            }
        }
    }
}

.header-me,
.header-work,
.header-contact {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: rgb(90, 90, 90);
    text-underline-offset: 10px;
}


.container-me {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 115px;
    margin-top: 100px;

    #image-me {
        height: 170px;
        width: 170px;
        object-fit: cover;
        margin: 1px;

    }

    .title-me {
        padding-top: 30px;
        color: white;
        font-size: 30px;
    }

    .container-para-me {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .para-me {
            width: 50%;
            color: white;
        }
    }
}

.and-work {
    margin: 0;
    text-align: center;
}

.container-work {
    justify-content: center;

    .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        #image {
            width: 250px;
            height: 250px;
            object-fit: cover;
            padding: 2px;
            filter: grayscale(100%) blur(1px);
            object-position: 30% 100%;
            transition: 0.8s;
        }

        .text-work {
            opacity: 0;
            transition: 0.5s;
        }
    }

    .item:hover {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        #image {
            filter: grayscale(0%);
            width: 375px;
            cursor: pointer;
            object-position: 25% 100%;
            transition: 0.8s;
        }

        .text-work {
            opacity: 100%;
            transition: 0.5s;
        }
    }
}

.text-wrap-work-design {
    transform: rotate(90deg);
    text-align: center;
    height: 100%;

    .text-work {
        font-size: 70px;
        margin: 0;
        color: white;
    }
}

.text-wrap-work-dev {
    transform: rotate(-90deg);
    text-align: center;
    height: 100%;

    .text-work {
        font-size: 70px;
        margin: 0;
        color: white;
    }
}

.and-work {
    font-size: 100px;
    color: white;
}

.container-work-all {
    padding: 100px;

}

.contact-div {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.contact-info {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.fa {
    font-size: 50px;
    display: block;
}

.card-email,
.card-github,
.card-phone {
    background-color: rgb(10, 10, 10);
    height: 150px;
    width: 350px;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.card-email:hover,
.card-github:hover,
.card-phone:hover {
    background-color: rgb(15, 15, 15);
    transition: 0.3s;
    transform: scale(1.03);

    a {
        color: #ffa5c7;
        transition: 0.3s;
    }
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .header-me,
    .header-work,
    .header-contact {
        text-align: center;
        font-size: 90px;
        font-weight: bold;
        color: rgb(74, 74, 74);
        text-underline-offset: 10px;
    }

    .container-me {    
        .container-para-me {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
    
            .para-me {
                width: 80%;
                color: white;
            }
        }
    }


    .card-email,
    .card-github,
    .card-phone {
        background-color: rgb(10, 10, 10);
        height: 150px;
        width: 310px;
        transition: 0.3s;
    }

    .text-wrap-work-design,
    .text-wrap-work-dev {
        transform: rotate(0);
        text-align: center;
        height: 100%;
    }

    .container-work {
        .item:hover {
            #image {
                filter: grayscale(0%);
                width: 300px;
                cursor: pointer;
                object-position: 25% 100%;
                transition: 0.8s;
            }
        }
    }
}

#contact {
    margin-bottom: 150px;
}