* {
    scroll-behavior: smooth;
}


/* navigation bar */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    backdrop-filter: blur(5px);
    top: 0;
    z-index: 1;

    a {
        text-decoration: none;
    }
}

.collapsibleNavbar {
    display: flex;
    padding: 10px;
}

.nav-link {
    color: white;
    font-size: 19px;
    text-decoration: rgba(255, 255, 255, 0);
    font-weight: 500;
    padding: 8px 30px 8px 30px;
}

.nav-link:hover {
    opacity: 100%;
    transition: 0.5s;
    text-shadow: 0px 0px 15px rgba(255, 255, 255);
    text-decoration: rgba(255, 255, 255, 0.4);
}

.nav-link:not(:hover) {
    opacity: 70%;
    transition: 0.5s;
}

.navbar [type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    transition: 0.6s;
}

@media (max-width: 768px) {

    input[type=checkbox]:checked~.collapsibleNavbar {
        display: block;
        transition: 0.6s;
    }

    .hamburger {
        align-self: flex-end;
        padding: 20px;
        margin-right: 10px;
        display: block;
        transition: 0.6s;
    }

    .collapsibleNavbar {
        display: none;
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
    }
}

body {
    background: black;
}

#design,
#coding {
    width: 100%;
}

@media (max-width: 768px) {

    .container-namecard,
    .container-website-ltk,
    .container-poster,
    .container-touch,
    .container-website-muffted,
    .container-notes,
    .container-suggestAI,
    .container-soi,
    .container-movie,
    .container-song {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2000px;
    }
}

.container-namecard,
.container-website-ltk,
.container-poster,
.container-touch,
.container-website-muffted,
.container-notes,
.container-suggestAI,
.container-soi,
.container-movie,
.container-song {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.ind-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.colors {
    display: flex;
    padding: 10px;
}

.section-header {
    color: rgb(74, 74, 74);
    text-align: center;
    font-size: 100px;
    padding-bottom: 20px;
}

.icon {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;

    .icon-grid,
    .icon-list {
        background-color: rgb(74, 74, 74);
        padding: 20px;

        .fa {
            color: white;
            font-size: 30px;
        }
    }
}