.grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;

    .grid-item {
        transition: 0.3s;
        height: 400px;
        width: 200px;
        border-radius: 10px;

        img {
            transition: 0.3s;
            height: 400px;
            width: 200px;
            height: 80%;
            object-fit: cover;
            object-position: center top;
        }

        .card-info {
            transition: 0.3s;
            opacity: 0;
            height: 20%;
            width: 100%;
            text-align: center;
            color: white;   
        }
    }
}

.grid-item:hover {
    transition: 0.3s;
    scale: 1.05;

    .card-info {
        transition: 0.3s;
        opacity: 1;
    }
}